.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
display:none;
justify-content:center;
align-items:center;
z-index:5000;
}

.modal-box{
background:white;
width:90%;
max-width:400px;
padding:20px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.modal-box h2{
color:#d23434;
text-align:center;
}

.modal-box input,
.modal-box textarea{
padding:12px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
}

.modal-box textarea{
height:120px;
resize:none;
}

.modal-box button{
padding:12px;
border:none;
border-radius:10px;
background:#d23434;
color:white;
font-size:16px;
}
