/* スマホ最適化 */
html,
body{
    width:100%;
    overflow-x:hidden;
}

body{
    font-size:16px;
}

.header{
    padding:20px;
}

.topbar h1{
    font-size:32px;
}

.user h2{
    font-size:28px;
}

.date{
    font-size:28px;
    margin-top:25px;
}

.timeline{
    padding:15px;
}

.number{
    width:42px;
    height:42px;
    font-size:18px;
}

.content{
    padding:18px;
    margin-left:12px;
}

.content h3{
    font-size:20px;
}

.content p{
    font-size:15px;
}

.status{
    font-size:18px;
}

/* 完了メッセージ */
.complete{
    color:#ffffff;
    font-weight:bold;
}

.complete i{
    background:#2f9d2f;
    color:white;
    width:32px;
    height:32px;
    border-radius:50%;
    line-height:32px;
    text-align:center;
}

.budget-card{
    padding:18px;
}

.budget-card h3{
    font-size:20px;
}

.bottom-nav{
    height:85px;
}

.bottom-nav button{
    font-size:12px;
}

.bottom-nav i{
    font-size:24px;
}

.center-btn{
    width:65px;
    height:65px;
    font-size:26px;
}

/* iPhone対応 */
@media (max-width:480px){

    .topbar h1{
        font-size:26px;
    }

    .user h2{
        font-size:22px;
    }

    .date{
        font-size:22px;
    }

    .content h3{
        font-size:18px;
    }

    .content p{
        font-size:14px;
    }

    .status{
        font-size:16px;
    }
}
